<%- include('partials/header') %>

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Tables</h1>
                    <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
                        For more information about DataTables, please visit the <a target="_blank"
                            href="https://datatables.net">official DataTables documentation</a>.</p>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Nombres</th>
                                            <th>Apellidos</th>
                                            <th>Tipo de documento</th>
                                            <th>Numero de documento</th>
                                            <th>Telefono</th>
                                            <th>email</th>
                                            <th>origen</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Nombres</th>
                                            <th>Apellidos</th>
                                            <th>Tipo de documento</th>
                                            <th>Numero de documento</th>
                                            <th>Telefono</th>
                                            <th>email</th>
                                            <th>origen</th>
                                        </tr>
                                    </tfoot>
                                    <% datosPersona.forEach(datosPersona => { %>
                                        <tbody>
                                            <tr>
                                                <td><%= datosPersona.nombres  %></td>
                                                <td><%= datosPersona.apellidos  %></td>
                                                <td><%= datosPersona.tipodoc  %></td>
                                                <td><%= datosPersona.numdoc  %></td>
                                                <td><%= datosPersona.telefono  %></td>
                                                <td><%= datosPersona.email  %></td>
                                                <td><%= datosPersona.origen  %></td>
                                            </tr>

                                    <%}) %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

<%- include('partials/footer') %>
