<%- include('partials/header') %>

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Tables</h1>


                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">



                        <div class="card-body">

                            <div class="row">

                                <div class="card-header col-md-4 py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Clientes</h6>
                                </div>
                                <div class="card-header col-md-4 py-3">
                                </div>
                                <div class="card-header col-md-4 py-3">
                                    
                                    <!-- <a href="/create" class="btn btn-primary" >Nuevo cliente</a> -->

                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
                                        Nuevo cliente
                                    </button>
                                    
                                    <!-- Modal -->
                                    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="">
                                                <form action="" autocomplete="off" id="formulario-registro">
                                                    <div class="card ">
                                                      <div class="card-header bg-primary text-light">Registrar datos de la persona</div>
                                                      <div class="card-body">
                                                    <div class="row">

                                                        <div class="col-md-6 mb-2">
                                                            <div class="form-floating">
                                                             <input type="text" name="modeloproducto" id="modeloproducto" class="form-control" placeholder="Modelo">
                                                             <!-- <label for="form-label">Modelo</label> -->
                                                            </div> 
                                                         </div>
                                                          
                                                        <div class="col-md-6 mb-2">
                                                            <div class="form-floating"  >
                                                             <input type="text" name="modeloproducto" id="modeloproducto" class="form-control" placeholder="Modelo">
                                                             <!-- <label for="form-label">Modelo</label> -->
                                                            </div> 
                                                         </div>
                                                    </div>

                                                    <div class="row">
                                                          <div class="form-floating col-md-6 mb-2">
                                                            <input type="text" class="form-control" id="duracionhoras" placeholder="E-mail" required>
                                                            <!-- <label for="duracionhoras">Apellidos</label> -->
                                                          </div>

                                                          <div class="form-floating col-md-6 mb-2">
                                                            <input type="text" class="form-control" id="duracionhoras" placeholder="Telefono" required>
                                                            <!-- <label for="duracionhoras">Apellidos</label> -->
                                                          </div>

                                                          <div class="row">

                                                            <div class="form-floating mb-2 col-md-4">
                                                                <select name="categoria" id="categoria" class="form-select" required>
                                                                  <option value="">Seleccione</option>
                                                                  <option value="1">DNI</option>
                                                                  <option value="2">Pasaporte</option>
                                                                  <option value="3">Carnet de extranjeria</option>
                                                                </select>
                                                                <!-- <label for="categoria">Tipo de decumento</label> -->
                                                            </div>

                                                            <div class="form-floating col-md-4 mb-2">
                                                                <input type="text" class="form-control" id="duracionhoras" placeholder="Telefono" required>
                                                                <!-- <label for="duracionhoras">Apellidos</label> -->
                                                              </div>


                                                              <div class="form-floating col-md-4 mb-2">
                                                                <input type="text" class="form-control" id="duracionhoras" placeholder="Telefono" required>
                                                                <!-- <label for="duracionhoras">Apellidos</label> -->
                                                              </div>

                                                          </div>

                                                    </div>

                                              

                                              

                                              

                                                          

                                              

                                                         

                                              

                                                    </div> <!-- ./card -->
                                                  </form>
                                              
                                                </div> <!-- ./container -->
                                            <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                            <button type="button" class="btn btn-primary">Guardar</button>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
    
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered" id="tabla"  cellspacing="0">
                                    <colgroup>
                                        <col style="width: 12%;">  <!-- nombres -->
                                        <col style="width: 12%;"> <!-- apellidos -->
                                        <col style="width: 2%;"> <!-- tipo doc -->
                                        <col style="width: 3%;"> <!-- num doc -->
                                        <col style="width: 6%;"> <!-- telefono -->
                                        <col style="width: 4%;"> <!-- email -->
                                        <col style="width: 5%;"> <!-- origen -->
                                        <col style="width: 10%;"> <!-- estado -->
                                        <col style="width: 25%;"> <!-- operaciones -->
                                      </colgroup>
                                    <thead>
                                        <tr>
                                            <th>Nombres</th>
                                            <th>Apellidos</th>
                                            <th>Tipo de documento</th>
                                            <th>Numero de documento</th>
                                            <th>Telefono</th>
                                            <th>Email</th>
                                            <th>Origen</th>
                                            <th>Estado</th>
                                            <th>Operaciones</th>

                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Nombres</th>
                                            <th>Apellidos</th>
                                            <th>Tipo de documento</th>
                                            <th>Numero de documento</th>
                                            <th>Telefono</th>
                                            <th>email</th>
                                            <th>origen</th>
                                            <th>Estado</th>
                                            <th>Operaciones</th>


                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <% datosPersona.forEach(datosPersona => { %>
                                            <tr>
                                                <td><%= datosPersona.nombres %></td>
                                                <td><%= datosPersona.apellidos %></td>
                                                <td><%= datosPersona.tipodoc %></td>
                                                <td><%= datosPersona.numdoc %></td>
                                                <td><%= datosPersona.telefono %></td>
                                                <td><%= datosPersona.email %></td>
                                                <td><%= datosPersona.origen %></td>
                                                <td><%= datosPersona.estado %></td>

                                                <td>
                                                    <a href="/edit/<%= datosPersona.idpersona %>" class="btn btn-sm btn-info">Editar</a>
                                                    <a href="/delete/<%= datosPersona.idpersona %>" class="btn btn-sm btn-danger delete">Eliminar</a>
                                                </td>

                                            </tr>
                                        <% }) %>
                                    </tbody>
                                    
                                </table>
                            </div>                   
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <script>
                const tabla = document.querySelector("#tabla");
                const dataTable = new DataTable(tabla);

            </script>

<%- include('partials/footer') %>
