<%- include('partials/header') %>

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Tables</h1>


        <!-- DataTales Example -->
        <div class="card shadow mb-4">



            <div class="card-body">

                <div class="row">

                    <div class="card-header col-md-4 py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Origenes</h6>
                    </div>
                    <div class="card-header col-md-4 py-3">
                    </div>
                    <div class="card-header col-md-4 py-3">
                        

                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
                            Nuevo origen
                        </button>

                        <a href="/origenes" class="btn btn-primary">Origenes Activos</a>
                        
                        
                        <!-- Modal -->
                        <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="">
                                    <form action="/createOrigen" method="post" autocomplete="off" id="formulario-registro">
                                        <div class="card ">
                                            <div class="card-header bg-primary text-light">Registrar nuevo origen</div>
                                            <div class="card-body">
                                        <div class="row">

                                            <div class="col-md-12 mb-2">
                                                <div class="form-floating">
                                                    <input type="text" name="origen" id="origen" class="form-control" placeholder="Origen">
                                                    <!-- <label for="form-label">Modelo</label> -->
                                                </div> 
                                            </div>
                                                

                                        </div>



                                    
                                        </div> <!-- ./card -->

                                            <div class="modal-footer">
                                                <button type="reset" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                                <button type="submit" class="btn btn-primary">Guardar</button>
                                            </div>
                                        </form>
                                    
                                    </div> <!-- ./container -->

                            </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered" id="tabla"  cellspacing="0">
                        <colgroup>
                            <col style="width: 20%;">  <!-- origen -->
                            <col style="width: 20%;">   <!--estado -->
                            <col style="width: 20%;">   <!-- fecha inicio-->
                            <col style="width: 20%;">   <!--Fecha fin -->
                            <col style="width: 20%;">   <!--operaciones -->

                        </colgroup>
                        <thead>
                            <tr>
                                <!-- <th>Asesor</th> -->

                                <th>Origen</th>
                                <th>Estado</th>
                                <th>Fecha de inicio</th>
                                <th>Fecha de fin</th>
                                <th>Operaciones</th>
                                <!-- <th>Tipo de documento</th> -->

                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <!-- <th>Asesor</th> -->

                                <th>Origen</th>
                                <th>Estado</th>
                                <th>Fecha de inicio</th>
                                <th>Fecha de fin</th>
                                <th>Operaciones</th>

                            </tr>
                        </tfoot>
                        <tbody>
                            <% origenes.forEach(origenes => { %>
                                <tr>

                                    <td><%= origenes.origen %></td>
                                    <td><%= origenes.estado %></td>
                                    <td><%= origenes.fechacreacion %></td>
                                    <td><%= origenes.fechamodificado %></td>


                                    <td>
                                        <a href="./editorigen/<%= origenes.idorigen %>" class="btn btn-sm btn-info">Editar</a>
                                        <a href="/recuperar/<%= origenes.idorigen %>" class="btn btn-sm btn-success delete">Recuperar</a>
                                    </td>

                                </tr>
                            <% }) %>
                        </tbody>
                        
                    </table>
                </div>                   
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

<script>
    const tabla = document.querySelector("#tabla");
    const dataTable = new DataTable(tabla);

</script>

<%- include('partials/footer') %>
